html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 30px;
    font-size: 50px;
}

h2 {
    font-size: 32px;
    padding-top: 20px;
}

h3 {
    font-size: 24px;
    padding-top: 15px;
}

.site-header {
    padding: 5vh 10vw;
    transition: 0.3s;
}

.site-title {
    font-size: 96px;
    font-weight: 700;
}

.site-title span {
    color: #FFD100
}

.page-content-wrapper, .contents-wrapper {
    margin: 0 20vw;
}

a {
    color: inherit
}

.contents-wrapper li {
    list-style-type: none;
}

.contents-wrapper {
    list-style-type: none;
    padding: 0;
    color: #7a7a7a;
    line-height: 24px;
}

.page-content-wrapper a {
    color: #1b9aaa;
    transition: all 0.2s;
}

.page-content-wrapper a:hover {
    color: #157885
}


.page-content .CodeMirror-lines, .page-content .wpedit .result {
    padding: 5px;
    line-height: 18px;
}

.page-content .wpedit button.run, .page-content .wpedit button.cancel {
    font-size: 12px;
}

.page-content .wpedit .result pre {
    font-size: 12px;
    margin: 5px;
}

.page-content .wpedit .result pre.error {
    color: red;
    background-color: #fff;
}

.page-content > p > img {
    display: block;
    margin: auto;
    padding: 20px;
}

.MathJax_Preview {
    color: #f00
}

.math_finished .MathJax_Preview {
    display: none
}

ol li {
    list-style-type: upper-roman
}
ol li ol li {
    list-style-type: decimal;
}


footer {
    text-align: center;
}

footer a {
    color: #bbb
}

blockquote {
    /* position:relative; */
    margin: 20px auto 5px auto;
    padding: 5px 20px;
    /* border-left: 2px black solid; */
    font-weight: bold;
    overflow: scroll;
    width: 100%;
}

