<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <ul class="contents-wrapper">
    <a href="#bayesian-probabilities-an-introduction">Bayesian Probabilities: An Introduction</a>
    <ul>
      <a href="#basic-notation-and-terminology">Basic Notation and Terminology</a>
      <ul>
        <a href="#notation">Notation</a>
        <li><a href="#terminology">Terminology</a></li>
      </ul>
      <li><a href="#bayes-theorem">Bayes Theorem</a></li>
      <ul>
        <li><a href="#important-note">Important Note</a></li>
        <li><a href="#putting-it-together">Putting It Togehter</a></li>
      </ul>
    </ul>
    <li><a href="#the-monty-hall-problem">The Monty Hall Problem</a></li>
    <ul>
      <a href="#introduction">Introduction</a>
      <li><a href="#manual-approach">Manual Approach</a></li>
      <ul>
        <li><a href="#modeling-the-problem">Modeling the Problem</a></li>
        <li><a href="#applying-bayes-theorem">Applying Bayes Theorem</a></li>
      </ul>
      <li><a href="#naive-monte-carlo-approach">Naive Monte Carlo Approach</a></li>
    </ul>
    </ul>

    <div class="page-content-wrapper">
      <div class="page-content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
